body {
  font-family: 'Gowun Dodum', sans-serif;
}

#main-title {
  font-size: 30pt;
  padding: 3%;
  padding-bottom: 0;  
}

.btn {
 background-color: rgb(210, 212, 49);
 margin: 5%;
 position: relative;
 left: 70%;
 border-style: none;
}

.menu {
  margin-left: 20%;
}

.list-group-item {
width: 300px;
text-align: center;
cursor: pointer;
}

.container {
width: 1500px;
height: 1500px;
margin: 4%;
}

.container-2 {
  display: none;
}

.contents {
  display: flex;
  width: 1400px;
  height: 540px;
  border-style: dashed;
  border-radius: 10px;
}

.main {
width: 620px;
height: 500px;
font-size: 20pt;
padding: 2%;
}

.aside {
width: 870px;
height: 500px;
padding-left: -100px;
font-size: 14pt;
}

.bi {
color: rgb(210, 212, 49);
}

.images {
position: relative;
width:500px;
border-radius: 10px;
}

.copyright {
font-size: 12pt;
}

.title-books {
font-size: 18pt;
font-weight: bold;
}

.show {
display: block;
}

