body {
    font-family: 'Gowun Dodum', sans-serif;
}

.container {
    display: flex;
    width: 1500px;
    height: 720px;
}
.title {
    padding-top: 280px;
    padding-left: 80px;
    width: 700px;
    text-align: center;
    height: 720px;
}

.main-title {
    font-size: 45pt;  
}

.sub-title {
    font-size: 16pt;
}

.nav {
    font-size: 16pt;
    font-weight: bold;
}

.img_1 {
    display: block;
    margin: auto;
    width: 800px;
    height: 720px;
}


