body {
    font-family: 'Gowun Dodum', sans-serif;
}

#main-title {
    font-size: 30pt;
    padding: 3%;
    padding-bottom: 0;
   
}

.btn {
   margin: 5%;
   position: relative;
   left: 70%;
}

table {
    width: 50%;
    border: 2px solid gray;
    margin: auto;
    
  }

th, td {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
  }

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}


#contents {
  font-size: 18pt;
  margin-left: 10em; 

}

.bi {
  color: blueviolet;
}

.images {
  position: relative;
  width:500px;
  border-radius: 10px;
}

.copyright {
  font-size: 12pt;
}

#explanation {
  font-size: 16px;
  margin-left: -100px;
}

.box {
  background-color: rgb(13, 97, 194);
  color: white;
  height: 140px;
  padding: 15px; 
}

.book_store {
  float:left;
}
.ex {
  float: right; 
}